services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: ohhell
      POSTGRES_PASSWORD: ohhell
      POSTGRES_DB: ohhell
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
