do_token              = "dop_v1_..."
github_token          = "ghp_..."
github_owner          = "grovecj"
domain                = "cartergrove.me"
droplet_ip            = "x.x.x.x"
database_cluster_name = "mlb-stats-db"
jwt_secret            = "change-me-to-a-random-32-byte-string"
google_client_id      = ""
google_client_secret  = ""
